include ../../../mixins
//-header.header
  .container.header__container
    .header-main-info
      .user-header-field
        .user-info
          img(src=`../../../images/content/user1.jpg`).user-avatar--pic
        .user-info
          .user-name Galina Kisseleva
      .admin-panel-title Панель администрирования
    .button-header
      button(type="button").btn.btn-exit Выйти