.user__avatar-wrapper {
    display:block;
    width:200px;
    height: 200px;
    overflow:hidden;
    border-radius:50%;
   
}
.user__avatar-pic {
    display:block;
    object-fit:contain;
    //width: 100%;
    width: 75px;
    border-radius: 50%;
    //height: 75px;
    //height:100%;
}