.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 60px;
    &:last-child {
        margin-right: 0;
    }
}

.nav__item {
    color: #464d62;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    &:hover {
        color:red;
        transition: 0.5s;
    }
}