.sosials {
    display: flex;
    align-items: center;
    opacity: .7;
}


.sosials__icon {
    width: 28px;
    height: 31px;
    display: block;
}

.sosials__item {
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        opacity: .3;
    }
}