.triangles {
    display: flex;
    margin-top: -90px;
}

.triangles__item {
    width: 50%;
    display: block;
    height: 90px;
    fill: white;
}

.triangles--bottom {
    display: flex;
    margin-top: -90px;
}

.triangles__item--bottom {
    width: 50%;
    display: block;
    height: 90px;
    fill: red;
}