.user {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.user__avatar {
    margin-bottom: 50px;
}

.user__desc-item {
    display: flex;
    justify-content: flex-end;
}

.user__key {
color: rgba(#464d62, .3);
font-weight: 700;
line-height: 30px;
width: 40%;
}

.user__value {
color: text-color;
font-weight: 600;
line-height: 30px;
width: 40%;
}

.user__desc {
    width: 100%;
    padding: 0;
    margin: 0;
}