.root-container
  section.works
    .container.page-container
      .page-header
        .page-info
          h1.page-title Блок «Работы»
      .main-content
        .page-string
          .field.field-box-shadow
            .field-header
              .field-info
                .about-field-title Редактирование работы
            .field-content
              form.form__elem
                .form-column
                  button(type="button").btn
                    label.btn.btn-link.btn-link-pic Добавить фото
                .form-column
                  .form__row.form__row-works
                    - 
                      var fields = [
                        ['user', 'Имя автора', 'Ковальчук Дмитрий'],
                        ['envelope', 'Титул автора', 'Основатель Loftschool'],
                      ]
                    each item in fields
                      label.form-block(data-title=item[1])
                        .form-block__container
                          
                          .form-block__field
                            input(type="text" placeholder=item[2]).form-block__input
                  .form__row.form__row--extra-margin
                    label.form-block(data-title="Отзыв")
                      .form-block__container.form-block__container_align_top
                        
                        .form-block__field
                          textarea(
                            placeholder="Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!"
                          ).form-block__input
                  .from__row
                    .field-buttons.add-form-buttons
                      .action-button
                        button(type="reset").btn.btn-cancel Отмена
                      .action-button
                        button(type="submit").btn.btn-save Сохранить
        .page-string
          ul.page-list.works-list
            li.page-item.works-item.add-new-item
              .field.field-add
                button(type="button").btn.button-add-main.main-page-button Добавить работу
            li.page-item.works-item
              .field.field-add
                .field-header
                  img(src=`../../../images/content/slider-1.jpg`)
                .field-content.field-content__works
                  .works-desc
                    h3.about-field-title Сайт школы образования
                  .works-desc
                    p
                      | Этот парень проходил обучение веб-разработке не где-то,
                      | а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .works-desc
                    a(href="#").btn.btn-site http://loftschool.ru
                .card-footer
                  .field-buttons
                    .action-button
                      button(type="button").btn
                        .btn-red Править
                        .btn-red
                      
                    .action-button
                      button(type="button").btn
                        .btn-red Удалить
                        .btn-red
            li.page-item.works-item
              .field.field-add
                .field-header
                  img(src=`../../../images/content/slider-2.jpg`)
                .field-content.field-content__works
                  .works-desc
                    h3.about-field-title Сайт школы образования
                  .works-desc
                    p
                      | Этот парень проходил обучение веб-разработке не где-то,
                      | а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .works-desc
                    a(href="#").btn.btn-site http://loftschool.ru
                .card-footer
                  .field-buttons
                    .action-button
                      button(type="button").btn
                        .btn-red Править
                        .btn-red
                      
                    .action-button
                      button(type="button").btn
                        .btn-red Удалить
                        .btn-red
            li.page-item.works-item
              .field.field-add
                .field-header
                  img(src=`../../../images/content/slider-3.jpg`)
                .field-content.field-content__works
                  .works-desc
                    h3.about-field-title Сайт школы образования
                  .works-desc
                    p
                      | Этот парень проходил обучение веб-разработке не где-то,
                      | а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .works-desc
                    a(href="#").btn.btn-site http://loftschool.ru
                .card-footer
                  .field-buttons
                    .action-button
                      button(type="button").btn
                        .btn-red Править
                        .btn-red
                      
                    .action-button
                      button(type="button").btn
                        .btn-red Удалить
                        .btn-red
            li.page-item.works-item
              .field.field-add
                .field-header
                  img(src=`../../../images/content/slider-4.jpg`)
                .field-content.field-content__works
                  .works-desc
                    h3.about-field-title Сайт школы образования
                  .works-desc
                    p
                      | Этот парень проходил обучение веб-разработке не где-то,
                      | а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .works-desc
                    a(href="#").btn.btn-site http://loftschool.ru
                .card-footer
                  .field-buttons
                    .action-button
                      button(type="button").btn
                        .btn-red Править
                        .btn-red
                      
                    .action-button
                      button(type="button").btn
                        .btn-red Удалить
                        .btn-red
                