script(type="text/x-template")#reviews-carousel-template
  carousel(
      :perPageCustom="[[0, 1], [769, 2]]"
      :navigationEnabled="true"
      :paginationEnabled="false"
      @pageChange="pageChange"
    ).reviews-carousel__list
    slide(v-for="review in reviews" :key="review.id").reviews-carousel__item
      vc-quote(:review="review")

script(type="text/x-template")#quote-template
  .quote
    .quote__text
      p {{ review.text }}
    .quote__user
      .user
        .user__avatar
          img(:src="review.photo", :alt="review.author").user__avatar-pic
        .user__info
          .user__name {{ review.author }}
          .user__position {{ review.occ }}