//-.root-container
  section.about
    .container.page-container
      .page-header
        .page-info
          h2.page-title Блок «Обо мне»
        .page-info
          button(type="button").btn.btn-add-group.button-add-group-text Добавить группу
      .main-content
        ul.about-field-list
          li.about-field-item
            .field
              .field-header
                .field-info
                  input(type="text", placeholder='Название новой группы').field-text
                .Field-info
                  .field-buttons
                    .action-button
                      button(type='button').btn.btn-yes
                    .action-button
                      button(type='button').btn.btn-no
              .field-content
              .field-add-new
                .field-info
                  form.add-skill
                    .add-skill-info
                      input(type="text", placeholder='Новый навык').field-text
                    .add-skill-info
                      input(type="number", placeholder= "100%").field-text
                    .add-skill-info
                      button(type="submit").btn.btn.round-button
          li.about-field-item
              .field
                .field-header
                  .field-info
                    .about-field-title Workflow
                  .field-info
                    .field-buttons
                      .action-button
                        button(type='button').btn.btn-pencil
                .field-content
                  .skills
                    .skills-string
                      .skills-info
                        input(type="text" value="GIT").field-text
                      .skills-info
                        input(type="text" value="10%").field-text
                      .skills-info
                        .field-buttons
                          .action-button
                            button(type='button').btn.btn-yes
                          .action-button
                            button(type='button').btn.btn-no
                    .skills-string
                      .skills-info
                        input(type="text" value="Terminal").field-text
                      .skills-info
                        input(type="text" value="10%").field-text
                      .skills-info
                        .field-buttons
                          .action-button
                            button(type='button').btn.btn-yes
                          .action-button
                            button(type='button').btn.btn-no
                    .skills-string
                      .skills-info
                        input(type="text" value="Gulp").field-text
                      .skills-info
                        input(type="text" value="10%").field-text
                      .skills-info
                        .field-buttons
                          .action-button
                            button(type='button').btn.btn-yes
                          .action-button
                            button(type='button').btn.btn-no
                    .skills-string
                      .skills-info
                        input(type="text" value="Webpack").field-text
                      .skills-info
                        input(type="text" value="10%").field-text
                      .skills-info
                        .field-buttons
                          .action-button
                            button(type='button').btn.btn-yes
                          .action-button
                            button(type='button').btn.btn-no
                .field-add-new
                  form.add-skill
                    .add-new-skill
                      input(type="text", placeholder='Новый навык').field-text
                    .add-skill-info
                      input(type="number", placeholder= "100%").field-text
                    .add-skill-info
                      button(type="submit").btn.round-button
          li.about-field-item
            .field
              .field-header
                .field-info
                  .about-field-title Frontend
                .field-info
                  .field-buttons
                    .action-button
                      button(type='button').btn.btn-pencil
              .field-content
                .skills
                  .skills-string
                    .skills-info
                      input(type="text" value="HTML5").field-text
                    .skills-info
                      input(type="text" value="10%").field-text
                    .skills-info
                      .field-buttons
                        .action-button
                          button(type='button').btn.btn-yes
                        .action-button
                          button(type='button').btn.btn-no
                  .skills-string
                    .skills-info
                      input(type="text" value="CSS3").field-text
                    .skills-info
                      input(type="text" value="10%").field-text
                    .skills-info
                      .field-buttons
                        .action-button
                          button(type='button').btn.btn-yes
                        .action-button
                          button(type='button').btn.btn-no
                  .skills-string
                    .skills-info
                      input(type="text" value="Javascript").field-text
                    .skills-info
                      input(type="text" value="10%").field-text
                    .skills-info
                      .field-buttons
                        .action-button
                          button(type='button').btn.btn-yes
                        .action-button
                          button(type='button').btn.btn-no
                  .skills-string
                    .skills-info
                      input(type="text" value="Jquery, Vue.js").field-text
                    .skills-info
                      input(type="text" value="10%").field-text
                    .skills-info
                      .field-buttons
                        .action-button
                          button(type='button').btn.btn-yes
                        .action-button
                          button(type='button').btn.btn-no
              .field-add-new
                .field-info
                  form.add-skill
                    .add-skill-info
                      input(type="text", placeholder='Новый навык').field-text
                    .add-skill-info
                      input(type="number", placeholder= "100%").field-text
                    .add-skill-info
                      button(type="submit").btn.round-button

            