//-.tabs
  .container.tabs__container
    ul.tabs-list
      li.tabs-item
         router-link(to="/" class="tabs__link" active-class="tabs__link--active") Обо мне
      li.tabs-item
         router-link(to = "/works" class="tabs__link" active-class="tabs__link--active" ) Работы
      li.tabs-item
         router-link(to = "/reviews" class="tabs__link" active-class="tabs__link--active" ) Отзывы